body{
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Kumbh sans', sans-serif;
}

.all{
    background-color: hsl(225, 10%, 92%);
    border-radius: 15px;
    width: 360px;
    max-width: 100%;
    height: auto;
}

.card{
    border-radius: 15px 15px 0 0;
    width: 100%;
    display: block;
}

.pfp{
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -33px;
    border: 7px solid hsl(225, 10%, 92%);
}

.name-age{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.name{
    font-weight: bold;
    font-size: 18px;
}

.age{
    color: hsla(227, 10%, 46%, 0.586);
    font-weight: 400;
}

.location{
    text-align: center;
    margin-top: -3px;
    color: hsla(227, 10%, 46%, 0.586);
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.stats-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
}

.numb{
    font-weight: bold;
    font-size: 18px;
}

.mean{
    margin-top: -10px;
    color: hsla(227, 10%, 46%, 0.586);
    font-size: 12px;
    font-weight: small;
    margin-bottom: 1.5rem;
}

hr{
    color: hsla(227, 10%, 46%, 0.114);
}
